
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b86928;
    color: #ffffff;
}

/* HEADER / NAV BAR STYLES START*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right:85px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* END HEADER / NAVBAR STYLES END */

/* HERO STLYLES BEGIN */

.hero {
    height: 220px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/winery-background.jpeg");
    background-size: cover;
    background-position: center;
}

/* END HERO STYLES  */

/* Title styles */
.section-title {
padding-right: 100px;
text-align: left;

}

/* ABOUT ME */
.intro {
    display: flex;
    padding-bottom:150px;
}
.intro h2 {
    margin: 0 auto;
    flex:0;
}
.headshot {
    flex:1;
    margin-left: 50px;
    max-height: 200px;
  }

.intro p {
    line-height: 1.7;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    padding:0px 50px 50px 50px;
    
  }

 /* END ABOUT ME */
 
  /* WORK */

 

  /* WORK CONTENT STYLES START */

  .content-work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align:left;
    padding-bottom: 150px;
    
  }

  .work-box {
        flex:0;
        border-style:solid;
        border-color: aqua;
        height: 100px;
        width: 300px;
        padding:50px 50px 50px 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #270486;
        font-size: 9px;
  }

/* image input for work section */
    #horiseon {
    background-image: url(../images/horiseon-background.jpeg);
    background-size:cover;
   }    
     #run-buddy {
    background-image: url(../images/buddy-background.jpeg);
    background-size:cover;
     }
     #calculator {
    background-image: url(../images/calculator-background.jpeg);
    background-size: cover;
    }
     #surf-report {
     background-image: url(../images/surf-background.jpeg);
     background-size: cover;
     }
     #pastel-puzzles {
     background-image: url(../images/pastel-background.jpeg);
     background-size:cover;
}
/* end image input for work section */

  
/* start contact me styles */
    .contacts {
        padding-top:150px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        text-align:left;
        padding-bottom: 150px;
  }

  .contact h2 {
    flex: 1;

  }

  .contact-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #12023f;
    font-size: 20px;
  }

  /* Utilities */
  

